/*Navigation*/
.logo{
    width:33%;
    height:auto;
}
.navrule{
    height:3px;
    background-color:black;
    border:none;
}
.navtext{
    font-family:Helvetica;
    font-size:12pt;
    font-weight:150;
}
.textcenter{
    text-align:center;
}
.padded{
    padding-bottom:30px;
}
/* Main */
