/*Navigation*/
.logo{
    width:33%;
    height:auto;
}
.navrule{
    height:3px;
    background-color:black;
    border:none;
}
.navtext{
    font-family:Helvetica;
    font-size:12pt;
    font-weight:150;
}
.center{
    text-align:center;
}
.padded{
    padding-bottom:20px;
}


/*Main*/
.heading{
    font-family:Helvetica;
    font-size:16pt;
    font-weight:100;
}


.button{
    background-color:#FFFF00;
    border:black;
    border-style:solid;
    padding:10px 15px;
    display:inline-block;
    }