/* Navigation */
.logo{
    width:33%;
    height:auto;
}
.align{
    display:inline block;
}
.navflex{
    display:flex;
    width:auto;
}
.navbox{
    display:flex;
    align-self:flex-end;
}
.navtext{
    font-family:Helvetica;
    font-size:12pt;
    font-weight:150;
}