/* Navigation */
.logo{
    width:33%;
    height:auto;
}
.navflex{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
}
.navbox{
    display:flex;
    align-self:flex-end;
}
.navtext{
    font-family:Helvetica;
    font-size:12pt;
    font-weight:150;
}