/* Navigation */
.logo{
    width:400px;
    height:auto;
}
.navflex{
    display:flex;
}
.menu{
    flex-direction:column;
}
.navbox{
    display:flex;
    height:100px;
    margin-bottom:auto;
}
.navtext{
    font-family:Helvetica;
    font-size:12pt;
    font-weight:150;
}
.navrule{
    height:3px;
    width:800px;
    background-color:black;
    border:none;
}