/* Navigation */
.logo{
    width:400px;
    height:auto;
}
.navflex{
    display:flex;
}
.menu{
    flex-direction:column;
}
.navbox{
    display:flex;
    flex-direction:row-reverse;
    align-items:center;
    height:100px;
    margin-bottom:auto;
    margin-right:50px;
    column-gap:75px;
}
.navtext{
    font-family:Helvetica;
    font-size:18pt;
    font-weight:200;
}
.navtext:hover{
    background-color:yellow;
}
.rule{
    height:5px;
    width:800px;
    background-color:black;
    border:none;
}
.selection{
    color:black;
    text-decoration:none;
}
.pagetext{
    font-family:Helvetica;
    font-size:24pt;
    font-weight:200;
    margin:0px;
    vertical-align:bottom;
}
.pagealign{
    margin-top:64px;
}